<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chester.foresthackapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="ForestDex"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="ForestDex"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".QRScanner" />
        <activity android:name=".BluetoothActivity" />
        <activity android:name=".DeviceListActivity" />
        <activity android:name=".DeviceListAdapter" />
        <activity android:name=".QuestActivity" />
        <activity android:name=".Rewards"></activity>
    </application>

</manifest>